body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #000000;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 25px;
  width: 33.3333%;
}
.i{
    align-self: right;
    color: #000000;
}
.tablink:hover {
  background-color: grey;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 90px 20px;
  height: 100%;
}

p {color: #000000; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;}

#Home {background-color: white;}
#Contact {background-color: white;}
#About {background-color: rgb(255, 255, 255);} 
  
#About img { width: 460px;height: 510px;
  float: right;
margin-left: 15px;}
#About h1 {color: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 margin-left: 360px; font-size: 45px;}
  #About p{   width: 95%;   padding: 20px;   box-sizing: border-box; }

 #Contact p{  width: 40%; padding: 15px;  margin-left: 20px; box-sizing: border-box; margin-right: 0px;}
 #Contact h1{color: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:45px ;
margin-left: 40px; margin-top: 60px;}
#Contact{color: black; margin-right: 50px; padding-right: 280px;}
.Contactinfo input { border: 1.8px solid #000000; padding-right: 40px;padding-left: 25px; padding-top: 10px; padding-bottom: 10px; margin-top: 5px; }
.Contactinfo button{background-color: #000000; font-size:  18px; color: white; font-family: monospace; 
  padding-right: 28px; padding-left: 28px;padding-bottom: 15px; padding-top: 15px; margin-top: 7px; float: left;}
.Contactinfo{float: right; margin-left: 80px; width: 50%; height: 50%;}
label{font-size: 20px;}


#Home h1{color: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:45px ;
margin-left: 40px; margin-top: 100px;}
#Home p{   width: 35%;   padding: 20px;   box-sizing: border-box; }
#Home #header img{width: 730px;height: 380px;
  float: right;
margin: 5px; padding-left: 8px; margin-right: 40px; margin-top: 30px;}


.Examples img { height: 350px; width: 100%; float: none;}
.Examples h3 {color:grey; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.Examples h2{color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
#ex1 {  float: left; background-color: black;   width: 310px; margin-top: 30px; margin-right: 80px; margin-left: 30px; margin-bottom: 18px;}
#ex2 {  float: left; background-color: black;   width: 310px; margin-top: 30px; margin-right: 80px; margin-left: 30px; margin-bottom: 18px;}
#ex3 {  float: left; background-color:black;   width: 310px; margin-top: 30px; margin-left: 30px; margin-bottom: 18px;}


i{float: left; color: #000000; 
}

